body{ background-color: #ECF5FB; }

/* estilos para tener el 100vh de la pantalla */
.h-100{ min-height: 100vh; }
/* estilos para la imagen del logo */
.logo-login{ max-height: 100px; }

input{ padding: auto 20px !important; height: 55px !important; }

.btn-return{ position: absolute; top: 0px; right: 50px; }

/* estilos para la card cuando se ejecute un formulario */
.content-loader{ -ms-align-items: center; align-items: center; background-color: rgba(0, 0, 0, 0.7); border-radius: 5px; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; height: 100%; justify-content: center; position: absolute; top: 0; width: 100%; z-index: 9; }