
/*-------------------------------HEADER-------------------------------------------------------- */
/* quitar la sombra al navbar en el header */
.navbar { box-shadow: none}
/* poner fondo al header */
header{min-height: 30vh;}
/*poner los colores de los ul del header y a sus íconos*/
.color-naranja{color:#ff5b16}
.color-morado{color:#2d4d58;}
.color-gris{color: #A2A2A2;}
.bg-gris{background-color: #e2e4e4;}
.bg-rojo{background-color: #F44336;}
/* poner los fondos de botones y otros elementos de este color, también del sidenav */
.bg-naranja{background-color:#ff5b16 !important}
/* espacios de la imagen naranja de fondo de header */
.img-header{width: 60%; position: absolute;}
/* cuadrar espacios de la imagen de shoeshop */
.zapato{width: 110px;}
/* circulos de los botones del header */
.circulo {width: 60px; height: 60px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: white;}
/* espacio de los botones responsive */
.margen-arriba{ margin-top: 70px;}
.zindex-botones{z-index: 999;}



/*****++++++++++ESTILOS PARA EL SIDENAV +++++++++++++++++******/

/* logo de los sidenav en responsive */
.z-responsive{width: 100px; margin-top: 18px;}
/* tamaño de letra de los a */
.side-nav .collapsible a {font-size: 1rem;}

/*****++++++++++++++++++FIN ESTILOS PARA EL SIDENAV +++++******/

/*****++++++++++++++++++ESTILOS PARA MODALES +++++******/
/* equis de los modales */
.close {font-size: 3rem; color: white; opacity: 5; line-height: 0.5; text-shadow: none;}
/* quitar margenes al boton de la x */
.modal-header .close {padding: 0; margin: 0;}
/* centrar el h5 de ingresar */
.centrar{margin-left: 40%;}
/* borde circular para los modales */
.modal-dialog .modal-content {-webkit-border-radius: 25px; border-radius: 25px;}
.modal-dialog .modal-content .modal-header {-webkit-border-top-left-radius: 25px; border-top-left-radius: 25px; -webkit-border-top-right-radius: 25px; border-top-right-radius: 25px;}
/* estilos para el input */
.bordes-input, .bordes-welcome{border-color: #ff5b16; width: 100%; height: 50px; padding-left: 10px; border-radius: 10px; border-width: 3px; border-style: solid;}
.bordes-welcome{border-color:#2d4d58 !important;}
/* estilos para el botón de ingresar */
.modal-footer {border-top: 0; display: block;}
.boton-ingresar, .boton-ingresar2{margin:0; text-transform: none; border-radius: 10px; padding: 10px; width: 100%; font-size: 1.1rem;}
.boton-ingresar2{padding-left: 100px; padding-right: 100px;}
/* quitar el borde que se hace cuando doy click */
.form-control:focus{border-color:transparent; box-shadow: 0 0 0 0.1rem #ff5b16;}
/* cuadrar modal de registro */
.md-tabs {background-color: none; -webkit-border-radius: 0 !important; border-radius: 0 !important; border-top-right-radius: 25px !important; border-top-left-radius: 25px !important;}
/* cuadrar texto del header del modal de recuperar contraseña */
.centrar1{margin-left: 28%;}

/*****++++++++++++++++++FIN ESTILOS PARA EL MODALES +++++******/
 /* +++++++++++++esilos para el resto del header+++++++++++++ */
/* espacio de la segunda parte del header */
.posicion-header{position: absolute;top: 0px; left: 0; right: 0; bottom: 0; margin: auto;}
/* tamaño titulo header */
.tamaño-letra-header{font-size: 25px;}
/* tamaño parrafo header */
.tamaño-letra-parrafo{font-size: 15px;}
/* tamaño de la imagen derecha */
.img-titulo{width: 90%;}

/*-------------------------------FIN HEADER-----------------------------------------------*/

/*-------------------------------FOOTER------------------------------------------------------- */
/* poner fondo al boton responsive del header y al footer */
.bg-morado{background-color:#2d4d58;}
/* propiedades del hr */
footer hr{width: 20%; height: 5px; margin-left: 0px; border-radius:5px ;background-color: #ff5b16;}
/*-------------------------------FIN FOOTER----------------------------------- */

/* media querys */
@media(min-width:576px){
    .tamaño-letra-header{font-size: 40px;}
    .tamaño-letra-parrafo{font-size: 22px;}
    header{min-height: 40vh;}
}
@media(min-width:768px){
    .tamaño-letra-header{font-size: 45px;}
    .tamaño-letra-parrafo{font-size: 28px;}
    header{min-height: 50vh;}
}
@media(min-width:992px){
    .tamaño-letra-header{font-size: 40px;}
    .tamaño-letra-parrafo{font-size: 25px;}
    .padding-arriba{padding-top: 50px !important;}
    header{min-height: 70vh}
    .img-titulo{width: 100%;}
    .posicion-header{left: 10%; right: 5%; margin: 0; top: 80px;}
}
@media(min-width:1200px){
    .posicion-header{top: 30px; right: 3%;}
    .tamaño-letra-header{font-size: 58px;}
    .tamaño-letra-parrafo{font-size: 35px;}
    .padding-arriba{padding-top: 150px !important;}
    header{min-height: 85vh;}
    
}
