.borde-compras{border-radius: 10px; border-color: #2d4d58;  border-width: 3px; border-style: solid;}
.letra-descrip{font-size: 2rem;}
.anchura-cantidad{width: 70px !important;}
.borde-eliminar{border-radius: 10px;}