/*----------------------------- HEADER CLIENTE------------------------- */

.letra-zapato{font-size: 2rem;}
.carousel-indicators li {background-color:  rgba(255,91,22,0.5) !important;}
.ancho-img{width:100%;}
.alto-unique{height: 500px; max-width: 500px;}

@media(max-width:992px){
    .alto-unique{height: 300px; max-width: 300px;}
}