/*----------------------------- HEADER CLIENTE------------------------- */

.letra-zapato{font-size: 2rem;}
.carousel-indicators li {background-color:  rgba(255,91,22,0.5) !important;}
.ancho-img{width:100%;}